.card-seven{
    
background:rgba(245, 244, 240, 1) !important;
}
.text-body{
    font-family: 'DM Sans';
   
}
.col{
    border: 1px solid rgba(105, 105, 105, 0.1);
    background: rgba(255, 255, 255, 1);
    padding: 18px;
    justify-content: space-around !important;
}
.headin{
    color: rgba(120, 84, 247, 1);
}
.span{
    color: rgba(172, 172, 172, 1);
}
