/* .hero-section{
    /* background:  #FBF7EC; *
} */
.nike{
    margin-left: 50px;
}
.spoti{
    margin-left: 50px;
}
.Google{
    margin-left: 70px;
}
.apple{
    margin-left: 80px;
}
.Amazon{
    margin-left: 95px;
}
.Airbon{
    margin-left: 90px;
}
.font{
    
}